:root {
  --lightColor : #afafaf;
  --darkColor : #222222;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

div {
  border: 2px solid var(--lightColor);
  border-radius: 10px;
  margin: 10px 20px;
  padding: 10px 20px;
}

h1 {
  font-size: 60px;
  padding: 10px 20px;
  text-align: center;
}

img {
  border: 4px solid var(--lightColor);
  border-radius: 20px;
}

.dark-theme {
  background-color: var(--darkColor);
  color: var(--lightColor);
}

.light-theme {
  background-color: var(--lightColor);
  color: var(--darkColor);
}

.theme-toggle {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

.intro {
  display: flex;
}

.intro-text {
  padding-left: 10px;
}