
body {
    font-family: sans-serif;
  }
  
  .dark-theme {
    background-color: rgb(40, 40, 40);
    color: rgb(215, 215, 215);;
  }
  
  .light-theme {
    background-color: rgb(215, 215, 215);
    color: rgb(40, 40, 40);
  }
  
  .theme-toggle {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }